<div class="header">
    <a href="#default" class="logo"><img style="float:left" src="assets/images/pyramid-solutions-logo.png"></a>
    <div class="header-center"><h4>Employee Skill Management</h4></div>
  </div>
<div class="container-fluid">
  <div class="row wrapper">
      <aside class="col-12 col-sm-3 p-0 bg-dark">
          <nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
              <a class="navbar-brand" href="#"><i class="fa fa-bullseye fa-fw"></i> Home</a>
              <a href class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
                 <span class="navbar-toggler-icon"></span>
              </a>
              <div class="collapse navbar-collapse sidebar">
                <ul class="flex-column navbar-nav w-100 justify-content-between">
                <a class="navbar-brand" href="#"><i class="fa fa-bullseye fa-fw"></i> Manage Employee</a>
                <a class="navbar-brand" href="#"><i class="fa fa-bullseye fa-fw"></i> Manage Skills</a>
              </ul>
              </div>
          </nav>
      </aside>
      <main class="col bg-faded py-3">
         
      </main>
  </div>
</div>
